.filters_style {
    padding: 12px 20px; 
    width: 100%;
}

.search_button_position {
    margin-top:30px
}

.policy {
    border-radius: 10px; 
    border:1px solid gray;
}

.status_pending {
    background-color: #007BFF;
    border-radius: 20px;
    padding: 6px 8px;
    color: white
}

.status_approve {
    background-color: #28A745;
    border-radius: 20px;
    padding: 6px 8px;
    color: white
}

.status_decline {
    background-color: #DC3545;
    border-radius: 20px;
    padding: 6px 8px;
    color: white
}