<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{../css/main.css}" href="css/main.css">

    <title>Total - Safety Car</title>
</head>

<body>

    <nav class="navbar navbar-light bg-primary">
        <a th:href="@{/}" class="navbar-brand text-light"><i class="fas fa-car-crash"></i> Safety Car</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a th:href="@{/gologout}" class="nav-link text-light mx-3" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </nav>

    <form class="container">
        <h1 class="mb-4"><i class="far fa-check-circle"></i> Total Price</h1>
        <hr class="mb-4"/>

        <div class="row mb-5">
            <div class="col-lg-4 col-sm-12 mb-4">
                <label>Car Brand</label>
                <h4><strong>Volvo</strong></h4>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Car Model</label>
                <h4><strong>Xc90</strong></h4>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Car Cubic</label>
                <h4><strong>3.0 cc</strong></h4>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-4 col-sm-12">
                <label>First registration date</label>
                <h4><strong>12.30.2019</strong></h4>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Driver birthdate</label>
                <h4><strong>12.14.1999</strong></h4>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label class="mr-3">Accidents in previous year (yes/no)</label>
                <h4><strong>No</strong></h4>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12 col-sm-12">
                <button style="width:100%;" type="reset" class="btn btn-primary"><i class="fas fa-search-dollar"></i>  Get New Offer</button>
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="col-lg-12 col-sm-12 mb-3">
                <p>The expected premium calculated is:</p>
            </div>
            <div class="col-lg-12 col-sm-12 mb-4">
                <h3><strong>1100 BGN</strong></h3>
            </div>
            <div class="col-lg-12 col-sm-12 d-flex justify-content-around">
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Register</button>
                <button type="submit" class="btn btn-success"><i class="fas fa-arrow-circle-right"></i> Continue</button>
            </div>
        </div>

    </form>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>